<h1 mat-dialog-title>{{ isEditMode ? '編輯回應內容' : '新增回應內容' }}</h1>

<div mat-dialog-content>
  <div *ngIf="countdown" class="countdown">
    關閉視窗倒數 {{ countdown }} 秒...
  </div>
  <form [formGroup]="form" style="display: flex; flex-direction: column;">
    <mat-form-field class="example-form-field" style="flex: 1;" *ngIf="publishUri">
      <mat-label>Publish URI</mat-label>
      <input matInput type="text" [value]="publishUri" disabled>
    </mat-form-field>

    <mat-form-field class="example-form-field" style="flex: 1;">
      <mat-label>呼叫方法名稱</mat-label>
      <input matInput type="text" formControlName="method">
      <button *ngIf="form.get('method')?.value" mat-icon-button matSuffix aria-label="Clear" (click)="clearField('method')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" style="flex: 1;">
      <mat-label>Response條件</mat-label>
      <textarea matInput formControlName="condition"></textarea>
      <button *ngIf="form.get('condition')?.value" mat-icon-button matSuffix aria-label="Clear" (click)="clearField('condition')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field" style="flex: 1;">
      <mat-label>回應內容</mat-label>
      <textarea matInput formControlName="responseContent"></textarea>
      <button *ngIf="form.get('responseContent')?.value" mat-icon-button matSuffix aria-label="Clear" (click)="clearField('responseContent')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="message" [ngClass]="messageType === 'success' ? 'success-message' : 'error-message'">
      {{ message }}
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="form.invalid" (click)="onSave()">{{ isEditMode ? '更新 Response' : '新增 Response' }}</button>
</div>
